* @fabianterhorst @doxoh
/docs/ @lhoerion
!/docs/*.md @lhoerion
!/docs/*.yml @lhoerion
/docs/filterConfig.yml @lhoerion
/api/AltV.Net.Async.CodeGen/ @zziger @doxoh
/api/AltV.Net.Client/ @zziger @juztim @doxoh
